<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Query Current Score</title>
	<link rel="stylesheet" href="../css/main.css">
</head>
<body>
	<div class="container">
		<div class="topDeck">
			<div class="logo">
				<h1>Screen of the Your Current Score</h1>
			</div>
		</div>
		<div class="gallery">
			<ul>
				<form action="/result">
				Account Number: <input type="text" name="customerNo" value="" id="customerNo"><br><br>
				<input type="submit" value="QUERY">
				</form>
				<br>
				<p>You can click ""QUERY" button in order to learn your current account score</p>
			</ul>
		</div>
	</div>
</body>
</html>
